{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<section>
	<div class="container bg-center">
		{# FIL D'ARIANNE BREADCRUMB #}
		<class="rowp-3">
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb" id="breadcrumb">
					<li class="breadcrumb-item ">
						<a id="arianne" href="{{'/accueil'}}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						<a href=""></a>
					</li>
					<li class="breadcrumb-item active" aria-current="page"></li>
				</ol>
			</nav>
			{# ERREURS #}
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}
			{# FORMULAIRE #}
			<div class="row pt-2 pb-2">
				<div class="col-sm-12">
					{{ form_start(registrationForm) }}

					{{ form_row(registrationForm.email) }}

					{{ form_row(registrationForm.plainPassword, { label: 'Mot de passe'}) }}
					{{ form_row(registrationForm.agreeTerms, {label:'Accepte la CGU'}) }}
					{# SUBMIT #}
					<button type="submit" class="btn">Register</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}
