<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Facture</title>
    <style>
        body {
            /*font-size: 20px;*/
          
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
        }
        .table-facture th,
        .table-facture td {
            border: 1px solid gray;
            padding: 5px;
        }
        .table-facture {
            border-collapse: collapse;
            width: 100%;
        }
        .table-facture th,
        .table-facture td {
            border: 1px solid gray;
            padding: 5px;
        }
        .table-facture .lib-total {
            text-align: right;
            border-style: none;
        }
        td.lib-acti {
            /*font-style: italic;*/
            width: 200px;
            text-align: center;
        }
        td.fld-num,
        th.fld-num {
            text-align: right;
            width: 60px;
        }
        td.fld-log {
            text-align: center;
        }
        .table-facture thead {
            background-color: green;
            color: white;
        }
        .table-facture tbody {
            /*background-color: ivory;*/
        }
        table > caption {
            font-size: 20px;
            padding: 5px;
        }
        .container {
            display: table;
            width: 100%;
            padding-left: 4px;
            padding-right: 4px;
        }
        .container div {
            display: table-cell;
        }
        .entreprise {
            width: 30%;
        }
        .bgcaddie {
            color: #011D7A !important;
        }
        .textLogo {
            font-weight: bold;
            font-size: 2.8rem;
        }
        .LinkLogo, .LinkLogo:hover, .LinkLogo:focus {
            text-decoration: none;
        }
        .text-dark {
            color: #343a40 !important;
        }
        .infos_clients{
            text-align: end;
            font-size: 1.5rem;
        }
        .textEntreprise{
            font-size: 1.8rem;
            font-weight: bold;
        }
        .total{
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-8 entreprise">
                <span class="textLogo bgcaddie">Village</span><span class="textLogo text-dark">Green</span>
                <span class="textEntreprise">10 rue de la guitare <br>80000 Amiens</span>
            
        </div>
        <div class="col-4 infos_clients">
            <p>
                <span class="textEntreprise">{{ commande.client.genre|capitalize }}
                    {{ commande.client.nom|capitalize }}
                    {{ commande.client.prenom|capitalize }}
                </span><br>
                <span>Tél: {{ commande.client.tel }}</span><br>
                <span>Date: {{ commande.date|date('Y-m-d')}}</span>
            </p>
        </div>
    </div>
</div>


<table class="table-facture">
    <caption>Facture n°{{commande.id}}</caption>
    <thead>
    <tr>
        <th>PRODUIT</th>
        <th>QTÉ</th>
        <th>PRIX UNIT.HT</th>
        <th>MONTANT HT</th>
    </tr>
    </thead>
    <tbody>
        {% set total = 0 %}
        {% set quantite = 0 %}
        {% for row in commande.contenirs %}
        <tr>

            <td class="fld-log">{{row.produits.nom}}</td>
            <td class="fld-num">{{row.qtitecommande}}</td>
            <td class="lib-acti">{{row.prixvente|number_format(2, '.', ' ')}}€</td>
            <td class="lib-acti">{{(row.prixvente * row.qtitecommande)|number_format(2, '.', ' ')}}€</td>
        </tr>
        {% set total = total + row.prixvente * row.qtitecommande %}
        {% endfor %}
    </tbody>

    <tfoot>
    <tr>
        <th colspan="3">HT</th>
        <td class="lib-acti">{{total|number_format(2, '.', ' ')}}€</td>
    </tr>
    <tr>
        <th colspan="3">Tva 5%</th>
         {% set tva = total *0.05 %}
        <td class="lib-acti">{{tva|number_format(2, '.', ' ')}}€</td>
    </tr>

    <tr>
        <th colspan="3" class="total">Total TTC</th>
        <td class="lib-acti total">{{(total + tva)|number_format(2, '.', ' ')}}€</td>
    </tr>
    </tfoot>
</table>
</body>
</html>


